@model LdDevWebApp.Models.Entities.Staff

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staffNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.staffNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.personNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.personNote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="giudPersonId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
