@model IEnumerable<LdDevWebApp.Models.Entities.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Patient
            </th>
            <th>
                Staff
            </th>
            <th>
                Treatment
            </th>
            <th>
                @Html.DisplayNameFor(model => model.When)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practise)
            </th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
                @Html.DisplayFor(modelItem => item.Patient.Surname)
            </td>
            <td>
                ----- STAFF -----
            </td>
            <td>
                ----- TREATMENT -----
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.When.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practise.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status .GetType() .ToString ())
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
