@model IEnumerable<LdDevWebApp.Models.Entities.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New v</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.aptScheduledDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aptNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.aptScheduledDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aptNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.giudAptId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.giudAptId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.giudAptId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
