@model LdDevWebApp.Models.Entities.Appointment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient
        </dt>
        <dd>
            ----- Patient -----
        </dd>
        <dt>
            Staff
        </dt>
        <dd>
            ----- Staff -----
        </dd>
        <dt>
            Treatment
        </dt>
        <dd>
            ----- Treatment -----
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Practise.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Practise.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.When.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.When.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AptStateObject.AptStateDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AptStateObject.AptStateDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>



    </dl>
</div>

<div>
    <table class="table">
        <tr>
            <th>Date and Time</th>
            <th>Info</th>
        </tr>
        @foreach (var item in Model.AppointmentLogs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.When.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Information)
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


